* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: darkslategrey;
}

#container {
    width: 50%;
    height: 30rem;
    background-color: brown;
    color:yellow;
    margin: 10rem auto 0 auto;
    border-radius: 1rem;
    border: 4px solid black;
}

h1 {
    display: block;
    text-align: center;
    border-bottom: 3px solid black;
    padding: 1rem;
    letter-spacing: .5rem;
}

#time-container {
    display: flex;
    justify-content: space-evenly;
}

.tm {
    padding: 3rem;
    background-color: yellow;
    color: brown;
    border-radius: 1rem;
    margin-top: 7rem;
    font-size: 3rem;
    border: 3px solid black;
}